html {
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
  url("cool-background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  /* HTML */
  --htmlFontSize: 100%;
/* Body */
  --bodyBackgroundColor: #2c3338;
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
/* Form */
  --formGap: 0.875rem;
/* Login */
  --loginBorderRadius: 0.25rem;
  --loginColor: #eee;
/* Login Input */
  --loginInputBackgroundColor: #3b4148;
  --loginInputHoverBackgroundColor: #434a52;
/* Login Label */
  --loginLabelBackgroundColor: #363b41;
/* Login Submit */
  --loginSubmitBackgroundColor: #ea4c88;
  --loginSubmitColor: #eee;
  --loginSubmitHoverBackgroundColor: #d44179;
/* Color */
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;
  
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container{
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: rgba(204, 204, 204, 0.25);
}
input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}
.form {
  display: grid;
  grid-gap: var(--formGap);
}
.form__field {
  display: flex;
  margin-bottom: 1rem;
}
.container,
.form__input,
.form__button{
  font: 500 1rem 'Rubik', sans-serif;
}
.login {
  color: var(--loginColor);
}
.form__message{
  text-align: center;
  margin-bottom: 1rem;
}
.form__message--success{
  color: var(--color-success);
}
.form__message--error{
  color: var(--color-error);
}

/* FORM INPUT */
.form input[type="password"],
.form input[type="text"],
.form input[type="button"] {
  inline-size: 100%;
}

/* LOGIN INPUT */
.login label,
.login input[type="text"],
.login input[type="password"],
.login input[type="button"] {
  border-radius: var(--loginBorderRadius);
	  padding: 1rem;
	  transition: border-color 0.2s;
}
.login label {
  background-color: var(--loginLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 1.25rem;
}
.login input[type="password"],
.login input[type="text"] {
  background-color: var(--loginInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.login input[type="password"]:focus,
.login input[type="password"]:hover,
.login input[type="text"]:focus,
.login input[type="text"]:hover {
  background-color: var(--loginInputHoverBackgroundColor);
}
.login input[type="button"] {
  background-color: var(--loginSubmitBackgroundColor);
  color: var(--loginSubmitColor);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.login input[type="button"]:focus,
.login input[type="button"]:hover {
  background-color: var(--loginSubmitHoverBackgroundColor);
}

p {
  margin-block: 1.5rem;
}
.text--center {
  text-align: center;
}
a{
	text-decoration: none;
	color: #A0A0A0;
}
a:focus,
a:hover {
  text-decoration: underline;
}
.form--hidden{
	display: none;
}

/* SIGNUP */
.signup {
  color: var(--loginColor);
}
.signup label,
.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"],
.signup input[type="submit"] {
  border-radius: var(--loginBorderRadius);
  padding: 1rem;
  transition: border-color 0.2s;
}
.signup label {
  background-color: var(--loginLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 1.25rem;
}
.signup input[type="password"],
.signup input[type="email"],
.signup input[type="text"] {
  background-color: var(--loginInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.signup input[type="password"]:focus,
.signup input[type="password"]:hover,
.signup input[type="email"]:focus,
.signup input[type="email"]:hover,
.signup input[type="text"]:focus,
.signup input[type="text"]:hover {
  background-color: var(--loginInputHoverBackgroundColor);
}
.signup input[type="submit"] {
  background-color: var(--loginSubmitBackgroundColor);
  color: var(--loginSubmitColor);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.signup input[type="submit"]:focus,
.signup input[type="submit"]:hover {
  background-color: var(--loginSubmitHoverBackgroundColor);
}
p {
  margin-block: 1.5rem;
}
.text--center {
  text-align: center;
}
a{
	text-decoration: none;
	color: #A0A0A0;
}
a:focus,
a:hover {
  text-decoration: underline;
}